ci:
  autofix_commit_msg: "MAINT: implement pre-commit autofixes"
  autoupdate_commit_msg: "MAINT: upgrade lock files"
  skip:
    - ty
    - uv-lock

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/ComPWA/policy
    rev: 0.8.2rc15
    hooks:
      - id: check-dev-files
        args:
          - --github-pages
          - --imports-on-top
          - --no-cd
          - --no-pypi
          - --package-manager=pixi+uv
          - --repo-name=report
          - --repo-title=ComPWA Technical Reports
          - --type-checker=ty
      - id: colab-toc-visible
      - id: fix-nbformat-version
      - id: remove-empty-tags
      - id: set-nb-display-name
      - id: strip-nb-whitespace

  - repo: https://github.com/kynan/nbstripout
    rev: 0.9.0
    hooks:
      - id: nbstripout
        args:
          - --drop-empty-cells
          - --extra-keys
          - |
            cell.attachments
            cell.metadata.code_folding
            cell.metadata.editable
            cell.metadata.id
            cell.metadata.pycharm
            cell.metadata.slideshow
            cell.metadata.user_expressions
            metadata.celltoolbar
            metadata.colab.name
            metadata.colab.provenance
            metadata.interpreter
            metadata.notify_time
            metadata.toc
            metadata.toc-autonumbering
            metadata.toc-showcode
            metadata.toc-showmarkdowntxt
            metadata.toc-showtags
            metadata.varInspector
            metadata.vscode

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
      - id: nbqa-isort
        args: [--float-to-top]
        exclude: >-
          (?x)^(
            docs/001/index\.ipynb|
            docs/002/index\.ipynb|
            docs/003/index\.ipynb|
            docs/008/index\.ipynb|
            docs/013/index\.ipynb|
            docs/018/index\.ipynb|
            docs/020/index\.ipynb|
            docs/026/index\.ipynb|
            docs/027/index\.ipynb|
            docs/028/index\.ipynb
          )$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [--fix]
        types_or: [python, pyi, jupyter]
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: >
          (?x)^(
            .*\.bib|
            \.cspell\.json
          )$
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/ComPWA/prettier-pre-commit
    rev: v3.8.1
    hooks:
      - id: prettier

  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/pappasam/toml-sort
    rev: v0.24.3
    hooks:
      - id: toml-sort
        args: [--in-place]
        exclude: (?x)^(.*/Manifest\.toml|.*/Project\.toml)$

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.6.0
    hooks:
      - id: cspell

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.6.0
    hooks:
      - id: editorconfig-checker
        name: editorconfig
        alias: ec
        exclude: >-
          (?x)^(
            .*\.py
          )$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: forbid-binary
        always_run: true
        exclude: >
          (?x)^(
            docs/_static/favicon.ico
          )$

  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: ty check
        args: [--no-progress, --output-format=concise]
        pass_filenames: false
        require_serial: true
        language: system
        types_or: [python, pyi, jupyter]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.29
    hooks:
      - id: uv-lock
